<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/fragment/headerFragment::userInfo"/>
Add Lesson <br>
<form method="post" action="/lessons/add">
    title: <input type="text" name="title"> <br>
    duration: <input type="text" name="duration"> <br>
    price: <input type="text" name="price"> <br>
    start date: <input type="date" name="startDate"> <br>

    <input type="submit" value="Add">
</form>
</body>
</html>