<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    Add message
</head>
<body>
<th:block th:include="/fragment/headerFragment::userInfo"/>
<form method="post" action="/message/add">
    <input type="hidden" th:value="${currentUser.id}" name="id">
   message: <input type="text" name="message"> <br>
   toID:   <div th:each="user, status: ${users}">
    <span th:text="${user.name}"></span>
    <input type="checkbox" th:name="users[__${status.index}__].id" th:value="${user.id}">
</div>

    <input type="submit" value="send">
</form>
</body>
</html>