<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<span th:if="${msg!=null}" style="color: red" th:text="${msg}">  </span>
<form method="post" action="/user/register" enctype="multipart/form-data">
    Name: <input type="text" name="name"> <br>
    surname: <input type="text" name="surname"> <br>
    email: <input type="text" name="email"> <br>
    password: <input type="password" name="password"> <br>
    User type: <select name="userType">
    <option value="STUDENT">STUDENT</option>
    <option value="TEACHER">TEACHER</option>
</select> <br>
    <input type="file" name="picture">
    <input type="submit" value="Register">
</form>
</body>
</html>